/* Global Styles
----------------------------------------------------------------------------------- */
html{margin: 0px; padding: 0px; height: 100%;}
body{margin: 0px; padding: 0px;width: 100%;height: 100%; }
.load{opacity: 0;-webkit-transition: opacity .7s;-moz-transition: opacity .7s;-o-transition: opacity .7s;-ms-transition: opacity .7s;transition: opacity .7s;}
.loaded{opacity: 1;}
section{}
.centered{text-align: center;}
main{padding: 100px 0px;}
.footer{background-image: url(img/footer-background.jpg); background-position: center; background-size: cover; height: 550px;}
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  background: red;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* Container Styles
----------------------------------------------------------------------------------- */
.showcase{position: relative;background-image: url(img/banner1.jpg); background-position: center; background-size: cover; height: 760px;}
.showcase h1{line-height: 58px;margin: 0px; padding: 0px; font-size: 48px; color: #fff; font-weight: lighter; text-align: center;}
.grid{padding: 80px 0px;}
.featured{margin-bottom: 35px;}
.followme{background-color: #f7f7f7; height: 190px; margin: 0px; padding: 30px 0px;}
.introtext{position: absolute; top:50%; left: 27%; }
/* Menu Styles
----------------------------------------------------------------------------------- */
nav.main{display: none;}
ul#topnav{display: block; width: 200px; height: 100%;}
ul#topnav li{display: block; padding: 20px 0px;}

/* Fonts Styles
----------------------------------------------------------------------------------- */